<section class="top">
    <div class="conatiner">
        <div class="row">
            <div class="col-md-12">
                <div class="top-bar">

                    <img src="assets/logo.png" />
                    <!-- <fa name="cog" animation="spin"></fa> -->
                </div>
            </div>
        </div>

        
    </div>
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="keyenter">
                <form class="example-form">
                    <!-- <mat-form-field class="example-full-width">
                        <mat-label>Favorite food</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                    </mat-form-field> -->
                    <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
                    <mat-form-field class="example-full-width">
                        
                        <mat-label>Enter Your Destination</mat-label>
                        <textarea matInput placeholder="Where you will go"></textarea>
                    </mat-form-field>
                    <br/>
                    <button mat-raised-button color="primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>