<section class="top">
    <div class="conatiner">
        <div class="row">
            <div class="col-md-12">
                <div class="top-bar">

                    <img src="assets/logo.png" />
                    <!-- <fa name="cog" animation="spin"></fa> -->
                </div>
            </div>
        </div>

        
    </div>
</section>
<section class="text-center bg-map">
    
</section>

<section class="bottom">
    <div class="container">
        <div class="row">
            <div class="keyenter">
                <form class="example-form">
                    <iframe src='https://webchat.botframework.com/embed/msftbotinnov?s=LW2qZX2AQis.iNT28QTMUmVjyITx8jWUc-YcsuvrFTkflabKYgxSBk8' class="chat-window" ></iframe>
                </form>
            </div>
        </div>
    </div>
</section>